<app-patient-menu></app-patient-menu>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid p-0">
    <!-- Hero Section -->
    <div class="hero-section">
      <div class="overlay">
        <div class="content text-center">
          <h1 class="display-4">Caring for Our Patients</h1>
          <p>
            We are committed to providing comprehensive and personalized healthcare services.
            Your health and comfort are our top priorities.
          </p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
